body {
    margin: 0;
}

.section {
    height: 100px;
    width: 100%;
    border: 1px solid black;
}

div#calculatorWrap {
    width: 308px;
    height: 350px;
    border: 1px solid red;
    
}

div#outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align-last: center;
    margin-top: 5%;
}